/* .sidebar-label {
    text-align: right;
    margin-right: 2px;
} */

/* .sidebar-input {
    text-align: left;
    margin-right: 2px;
} */

/* Overloading ant-design defaults */

.ant-collapse-header {
    padding: 6px 0px 6px 28px !important;
}

.arrow {
    left: 8px !important;
    line-height: 36px !important;
}